In [1]:
# Connect Pandas to SQL.
from sqlalchemy import create_engine
from sqlalchemy import join
from sqlalchemy.sql import select
import pandas as pd

db_string = f"postgresql://postgres:Daddy@2020$@127.0.0.1:5432/WildFires_DB"
engine = create_engine(db_string)

In [15]:
#Perfom inner join on fire_incidents, fire_locations and fire_impacts


query1 = "select fire_incidents.major_incident,fire_impacts.total_acres_burned,fire_impacts.injuries,"\
         "fire_impacts.structure_impacted,"\
         "fire_locations.minimum_temp,"\
         "fire_locations.maximum_temp,"\
         "fire_locations.average_temp,"\
         "fire_locations.wind_speed"\
         "FROM fire_incidents"\
         "JOIN fire_impacts ON fire_incidents.fire_name = fire_impacts.fire_name"\
         "JOIN fire_locations ON fire_incidents.fire_name = fire_locations.fire_name"

result = engine.execute("Select fire_incidents.major_incident, fire_impacts.total_acres_burned,fire_impacts.injuries, fire_impacts.structure_impacted,fire_locations.minimum_temp,  fire_locations.maximum_temp,fire_locations.average_temp,fire_locations.wind_speed,fire_locations.county_name from fire_incidents join fire_impacts ON fire_incidents.fire_name = fire_impacts.fire_name JOIN fire_locations ON fire_incidents.fire_name = fire_locations.fire_name")

In [16]:
#Read query result into dataframe

impact_df = pd.DataFrame.from_records(result, columns=['major_incident', 'total_acres_burned','injuries','structure_impacted','minimum_temp','maximum_temp','average_temp','wind_speed','county_name'])

In [17]:
impact_df.head()

,major_incident,total_acres_burned,injuries,structure_impacted,minimum_temp,maximum_temp,average_temp,wind_speed,county_name
0,False,257314,0,0,17,36,26,6,Tuolumne
1,False,30274,0,0,17,32,24,37,Los Angeles
2,False,27531,0,0,28,43,36,14,Riverside
3,False,27440,0,0,-273,-273,-273,-1,Placer
4,True,24251,10,16,-273,-273,-273,-1,Ventura

In [18]:
#Rename columns
impact_df = impact_df.rename(columns={'minimum_temp':'minimum_temp',
                                      'maximum_temp':'maximum_temp',
                                      'average_temp':'average_temp',
                                      'wind_speed': 'wind_speed(km/hr)'
                                     })

impact_df.head()

,major_incident,total_acres_burned,injuries,structure_impacted,minimum_temp,maximum_temp,average_temp,wind_speed(km/hr),county_name
0,False,257314,0,0,17,36,26,6,Tuolumne
1,False,30274,0,0,17,32,24,37,Los Angeles
2,False,27531,0,0,28,43,36,14,Riverside
3,False,27440,0,0,-273,-273,-273,-1,Placer
4,True,24251,10,16,-273,-273,-273,-1,Ventura